:root {
  --text-color: #555;
  --background-color: white;
}

html {
  overflow: hidden;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: var(--text-color);
  text-align: center;
  height: 100vh;
  margin: 0;
  background: rgb(99,188,71);
  background: linear-gradient(0deg, rgba(99,188,71,1) 0%, rgba(255,255,255,1) 50%);
}

#gamebody {
  background: white;
}

#text p {
  width: 40%;
  margin: 0.5rem auto 0;
  font-size: larger;
  text-align: justify;
}

#new-game {
  margin-top: 8rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

#new-game-label {
  padding-bottom: 1rem;
}

#new-game-input {
  font-size: 1.3rem;
  width: 50%;
}

#new-button {
  margin: 0.5rem auto;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  background-color: white;
  font-size: 2rem;
  cursor: pointer;
}

#new-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

#cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  width: 100vw;
  max-height: calc(100vh - 4.6rem);
}

#cards img {
  flex: 0 1 32.5%;
  object-fit: contain;
  max-width: 32.5%;
}

.logo {
  height: 7rem;
  width: auto;
}

#collabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem auto 7rem;
}

#collabs>div {
  flex: 0 1 25%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
}
