:root {
  --text-color: #555;
  --background-color: white;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: var(--text-color);
  text-align: center;
  min-height: 100vh;
  margin: 0;
  background: rgb(99,188,71);
  background: linear-gradient(0deg, rgba(99,188,71,1) 0%, rgba(255,255,255,1) 50%);
  display: flex;
  flex-direction: column;
}

#gamebody {
  background: white;
}

#text p {
  margin: 0.5rem auto 0;
  font-size: larger;
  text-align: justify;
  max-width: 600px;
  min-width: 40%;
}

#new-game {
  margin-top: 8rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

#new-game-label {
  padding-bottom: 1rem;
}

#new-game-input {
  display: block;
  font-size: 1.3rem;
  width: 100%;
  max-width: 600px;
  min-width: 40%;
  margin: 1.5rem auto 0;
}

#new-game button {
  display: block;
  margin: 0.5rem auto 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 140px;
  background-color: rgba(99,188,71,1);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(99,188,71,1) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#new-button {
  margin: 0.5rem auto;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  background-color: white;
  font-size: 2rem;
  cursor: pointer;
}

#new-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

#cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  width: 100vw;
  max-height: calc(100vh - 4.6rem);
}

#cards img {
  flex: 0 1 32.5%;
  object-fit: contain;
  max-width: 32.5%;
}

.logo {
  height: 7rem;
  width: auto;
}

#collabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem auto;
  flex-direction: column;
}

#collabs>div {
  flex: 0 1 25%;
}

ul {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

@media only screen and (min-width: 600px) {
  #collabs {
    flex-direction: row;
    margin-bottom: 7rem;
  }
}