<!doctype html>
<html>
<head>
	<title>Tippelj egyet! -- Új játék</title>
	<meta charset='utf-8' />
	<link rel="stylesheet" href="/style.css">
</head>
<body>
<div id='new-game'>
	<label for='url' id='new-game-label'>Új játék linkje</label><br>
	<input id='new-game-input' type='text' id='url' autofocus autocomplete='off' value='{{url}}'>
</div>
<div>
	<span style="font-weight: bold;">A játék célja </span>egyszerű, de elgondolkodtató időtöltést nyújtani a családoknak azokban a napokban, amikor a személyes látogatás nem megoldható.
	<br />
	<span style="font-weight: bold;">Lehetséges játékmenet</span>ben az egyik fél csinál a fenti link kimásolásával egy szobát. Ezt a linket megosztja azokkal, akikkel szeretne játszani. A játék folyamán bárki kérhet bármikor új osztást, ehhez a lap alján lévő gombra kell kattintania. Az új lapok mindenkinél megjelennek. A játékosok valamilyen bevett módszerrel kommunikálnak a háttérben, ami célszerűen hanghívás. Az egyik játékos kér egy új osztást, majd sejtelmesen körülírja, hogy melyik kártyára gondolt. A többi játékos barkóbaszerűen kitalálja, hogy miről van szó, esetlegesen a saját gondolatmenetével hangosan elemzi a képeket.
</div>
<footer>
	<a href="/impresszum.html">Impresszum</a>
</footer>
</body>
</html>
