<!doctype html>
<html>
	<head>
		<title>Tippelj egyet!</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/style.css">
	</head>
	<body id='gamebody'>
		<button id="new-button" type="button" onclick="ws.send('UN')">Új osztás</button>
		<div id="cards">
			<img id="img1" src="https://simonyi.bme.hu/tippelj/assets/bal.png"/>
			<img id="img2" src="https://simonyi.bme.hu/tippelj/assets/kozep.png"/>
			<img id="img3" src="https://simonyi.bme.hu/tippelj/assets/jobb.png"/>
		</div>
		<script>
			var imgset;

			function show(){
				for (var key in imgset){
					document.getElementById(key).src="https://simonyi.bme.hu/tippelj/assets/images/" + imgset[key];
				}
			}

			function init_ws(){
				console.debug('(re)Opening webSocket connection')
				ws = new WebSocket("{{wsuri}}/{{session_id}}")
				ws.onmessage = function(event){
					    obj = JSON.parse(event.data);
					    console.debug(obj)
					    imgset = obj["imgset"];
					    if ( obj["command"] == "update" )
						show();
				    };
				ws.onerror = function(event) {
					setTimeout(init_ws,1000);
				};
				ws.onclose = ws.onerror;
			}
			init_ws();
		</script>
	</body>
</html>
